.product {
  border: 1px solid lightgrey;
  border-radius: 1rem;
  padding: 1rem 2rem;
  height: 10rem;

  &__details {
    display: flex;
    height: 100%;
  }
  &__image,
  &__info {
    flex: 1;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__tagline {
  }

  &__image {
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
