header {
  text-align: center;
  padding:1.5rem 0;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 6rem;
  h1 {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
